<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/services" class="nav-link px-2 text-body-secondary">Services</a></li>
      <li class="nav-item"><a href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/contact-us" class="nav-link px-2 text-body-secondary">Contact Us</a></li>
      <li class="nav-item"><a href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/about-us" class="nav-link px-2 text-body-secondary">About Us</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy;2024 Mechspot, All rights reserved.</p>
  </footer>
</div>