<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/"><b>Mechspot</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/">Home</a>
        <a class="nav-link" href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/services">Services</a>
        <a class="nav-link" href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/contact-us">Contact Us</a>
        <a class="nav-link" href="https://ba7d4088-09e4-4c16-b2ca-fc0a260bdebb-00-1dhf7e9r9kwhg.pike.replit.dev/about-us">About Us</a>
      </div>
    </div>
  </div>
</nav>